.FirstUser {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.FirstUser-message {
  width: 50%;
  background-color: #4494c9;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.FirstUser-message p{
    color: white;
    font-size: 14px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.FirstUser-bottom {
  font-size: 10px;
  font-weight: 100;
  color: white;
  display: flex;
  align-items: center;
  align-self: flex-end;
}
