.UserProfile-active {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.UserProfile-inactive {
  width: 100%;
  height: 50px;
  background-color: #e4e4e7;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.UserProfile-photo {
  width: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.UserProfile-details {
  flex: 1;
  border-radius: 10px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
}

.UserProfile-details p {
  color: #71717a;
  font-size: 11px;
  display: flex;
  margin: 0;
  margin-top: 5px;
}
.UserProfile-details-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.UserProfile-details-user label {
}

.UserProfile-details-user p {
  margin: 0;      
}

.connected{
    background-color: #12A150;
    border: 1.5px solid #383838;
    height: 10px;
    width: 10px;
    z-index: 10;
    position: absolute;
    border-radius: 50%;
    margin-top: 25px;
    margin-left: 30px;
}